@model Service.Services.Ticket.VmTicket
@{
    ViewData["Title"] = "Edit Ticket";
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Edit Ticket</h3>
    </div>
    <div class="card-body">
        <form method="post" action="/Ticket/Update">
            <input type="hidden" name="TicketId" value="@Model.TicketId" />
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                        <label>Vehicle Number<sup class="text-danger">*</sup></label>
                        <input type="text" class="form-control" name="VehicleNumber" value="@Model.VehicleNumber" required>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                        <label>Owner Name<sup class="text-danger">*</sup></label>
                        <input type="text" class="form-control" name="OwnerName" value="@Model.OwnerName" required>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                        <label>Owner Phone No<sup class="text-danger">*</sup></label>
                        <input type="number" class="form-control" name="OwnerPhoneNo" value="@Model.OwnerPhoneNo" required>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                        <label>Owner Emailt<sup class="text-danger">*</sup></label>
                        <input type="email" class="form-control" name="OwnerEmail" value="@Model.OwnerEmail" required>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label>Owner NID<sup class="text-danger">*</sup></label>
                        <input type="number" class="form-control" name="OwnerNID" value="@Model.OwnerNID" required>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                        <label>Entry Time<sup class="text-danger">*</sup></label>
                        <input type="datetime" class="form-control" name="EntryTime" value="@Model.EntryTime" required>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                        <label>Exit Time</label>
                        <input type="datetime" class="form-control" name="ExitTime" value="@Model.ExitTime">
                    </div>
                </div>
            </div>
    <button class="btn btn-success float-right" type="submit">Save</button>
    </form>
</div>
</div>

