@foreach (var parkingSpot in ViewBag.parkingSpots)
{
    <p>@parkingSpot.ParkingSpotId</p>
    <p>@parkingSpot.CompanyName</p>
    <p>@parkingSpot.Latitude</p>
    <p>@parkingSpot.Longitude</p>
    <p>@parkingSpot.Location</p>
    <p>@parkingSpot.TotalSpaceInSquareFeet</p>
    <p>@parkingSpot.AvailableSpaceInSquareFeet</p>
}